.d-lg-flex{
  background-image: url('~src/assets/images/bg-login.JPEG');
  height: 100vh;
}

.container{
  background-image: linear-gradient(#056de8, #59287c);
  /* background-color: #59287c; */
  color: #ffffff;
}

.form-fields{
  color: antiquewhite;
}

