<div class="container">
<div class="row">
    <div class="col-xl-3 col-xxl-6 col-sm-6 ng-star-inserted">
        <div  class="bg-card1">
            <div  class="card-body">
                <div  class="media align-items-center">
                    <span  class="p-3 mr-3 feature-icon rounded">
                        <img style="width: 80%" src="assets/images/icons/sales.png"></span>
                        <div  class="media-body text-right">
                            <p  class="fs-18 text-white mb-2">
                                Users</p>
                                <span  class="fs-48 text-white font-w600">86</span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-xl-3 col-xxl-6 col-sm-6 ng-star-inserted">
        <div  class="bg-card2">
            <div  class="card-body">
                <div  class="media align-items-center">
                    <span  class="p-3 mr-3 feature-icon rounded">
                        <img style="width: 80%" src="assets/images/icons/profit.png"></span>
                        <div  class="media-body text-right">
                            <p  class="fs-18 text-white mb-2">
                                Orders</p>
                                <span  class="fs-48 text-white font-w600">86</span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-xl-3 col-xxl-6 col-sm-6 ng-star-inserted">
        <div  class="bg-card3">
            <div  class="card-body">
                <div  class="media align-items-center">
                    <span  class="p-3 mr-3 feature-icon rounded">
                        <img style="width: 80%" src="assets/images/icons/present.png"></span>
                        <div  class="media-body text-right">
                            <p  class="fs-18 text-white mb-2">
                                Agents</p>
                                <span  class="fs-48 text-white font-w600">86</span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-xl-3 col-xxl-6 col-sm-6 ng-star-inserted">
        <div  class="bg-card4">
            <div  class="card-body">
                <div  class="media align-items-center">
                    <span  class="p-3 mr-3 feature-icon rounded">
                        <img style="width: 80%" src="assets/images/icons/interest-rate.png"></span>
                        <div  class="media-body text-right">
                            <p  class="fs-18 text-white mb-2">
                                Customer</p>
                                <span  class="fs-48 text-white font-w600">86</span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xl-4 col-xxl-6 col-sm-6 ng-star-inserted">
        <div class="card">
            <div class="card-header border-0 pb-0 flex-wrap">
                <h4 class="text-muted text-uppercase font-size-md opacity-7 mb-3 font-weight-normal">Highlights</h4>
                <div class="custom-control custom-switch toggle-switch text-right mr-3 mb-2">
                    
               <div class="col mt-0">
                                    <h5 class="card-title">Sales Today</h5>
                   </div>
                     <div class="col-auto">
                     <div class="avatar">
                      <div class="avatar-title rounded-circle bg-primary-dark">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck align-middle">
                        <rect x="1" y="3" width="15" height="13"></rect>
                        <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                        <circle cx="5.5" cy="18.5" r="2.5"></circle>
                        <circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
                       </div>
                     </div>
                    </div>
                    </div>
         <h1 class="display-5 mt-1 mb-3">2.562</h1>
   <div class="mb-0">
  <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.65% </span>
       Less sales than usual
       
        </div>
    </div>
    </div>
<br>
    <div class="card">
        <div class="card-header border-0 pb-0 flex-wrap">
            <h4 class="text-muted text-uppercase font-size-md opacity-7 mb-3 font-weight-normal">Highlights</h4>
            <div class="custom-control custom-switch toggle-switch text-right mr-3 mb-2">
                
           <div class="col mt-0">
                                <h5 class="card-title">Pending Orders</h5>
               </div>
                 <div class="col-auto">
                 <div class="avatar">
                  <div class="feather feather-dollar-sign align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-dollar-sign align-middle"><line x1="12" y1="1" x2="12" y2="23"></line>
                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                   </div>
                 </div>
                </div>
                </div>
     <h1 class="display-5 mt-1 mb-3">43</h1>
<div class="mb-0">
<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.65% </span>
   Less sales than usual
   
    </div>
</div>
</div>
<br>
<div class="card">
    <div class="card-header border-0 pb-0 flex-wrap">
        <h4 class="text-muted text-uppercase font-size-md opacity-7 mb-3 font-weight-normal">Highlights</h4>
        <div class="custom-control custom-switch toggle-switch text-right mr-3 mb-2">
            
       <div class="col mt-0">
                            <h5 class="card-title">Sales Today</h5>
           </div>
             <div class="col-auto">
             <div class="avatar">
              <div class="feather feather-dollar-sign align-middle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-middle">
                <circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
               </div>
             </div>
            </div>
            </div>
 <h1 class="display-5 mt-1 mb-3">2.562</h1>
<div class="mb-0">
<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.65% </span>
Less sales than usual

</div>
</div>
</div>

</div>
    <div class="col-xl-8 col-xxl-6 col-sm-6 ng-star-inserted">
        <div class="card">
            <div class="card-header border-0 pb-0 flex-wrap">
                <h4 class="fs-20 text-black mr-4 mb-2">Products Stats</h4>
                <div class="custom-control custom-switch toggle-switch text-right mr-3 mb-2">
                    
           <div class="card-body">
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series!"
                  [chart]="chartOptions.chart!"
                  [xaxis]="chartOptions.xaxis!"
                  [dataLabels]="chartOptions.dataLabels!"
                  [grid]="chartOptions.grid!"
                  [stroke]="chartOptions.stroke!"
                  [title]="chartOptions.title!"
                ></apx-chart>
              </div>
           </div>
        </div>
    </div>
</div>

</div>