<div class="row">
    <div class="col-xl-3 col-xxl-6 col-sm-6 ng-star-inserted">

        <div  class="bg-card1">
            <div  class="card-body">
                <div  class="media align-items-center">
                    <span  class="p-3 mr-3 feature-icon rounded">
                        <img style="width: 80%" src="assets/images/icons/sales.png"></span>
                        <div  class="media-body text-right">
                            <p  class="fs-18 text-white mb-2">
                                Investments</p>
                                <span  class="fs-48 text-white font-w600">86</span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-xl-3 col-xxl-6 col-sm-6 ng-star-inserted">

        <div class="bg-card2">
            <div class="card-body">
                <div class="media align-items-center">
                    <span class="p-3 mr-3 feature-icon rounded">
                        <img style="width: 80%" src="assets/images/icons/interest-rate.png"></span>
                        <div class="media-body text-right">
                            <p class="fs-18 text-white mb-2">
                                Profits</p>
                                <span class="fs-48 text-white font-w600">86</span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-xl-3 col-xxl-6 col-sm-6 ng-star-inserted">

        <div  class="bg-card3">
            <div  class="card-body">
                <div  class="media align-items-center">
                    <span  class="p-3 mr-3 feature-icon rounded">
                        <img style="width: 80%" src="assets/images/icons/present.png"></span>
                        <div  class="media-body text-right">
                            <p  class="fs-18 text-white mb-2">
                                Insurance</p>
                                <span  class="fs-48 text-white font-w600">86</span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-xl-3 col-xxl-6 col-sm-6 ng-star-inserted">

        <div  class="bg-card4">
            <div  class="card-body">
                <div  class="media align-items-center">
                    <span  class="p-3 mr-3 feature-icon rounded">
                        <img style="width: 80%" src="assets/images/icons/profit.png"></span>
                        <div  class="media-body text-right">
                            <p  class="fs-18 text-white mb-2">
                                Savings</p>
                                <span  class="fs-48 text-white font-w600">86</span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

<br>
<div class="card">

    <div class="card-header border-0 pb-0 flex-wrap">
        <h4 class="fs-20 text-black mr-4 mb-2">Products Stats</h4>
        <div class="custom-control custom-switch toggle-switch text-right mr-3 mb-2">
            
   <div class="card-body">
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [dataLabels]="chartOptions.dataLabels!"
          [grid]="chartOptions.grid!"
          [stroke]="chartOptions.stroke!"
          [title]="chartOptions.title!"
        ></apx-chart>
      </div>
   </div>
</div>