.navbar{
    height: 50%;
    background-image: linear-gradient(#056de8, #59287c);
}

.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    padding:14px;
    color: white;
}
.side-nav-button:hover{
    background-color: #4d4a4a;
    border-radius: 30%;
}

.logo {
    height: 50%;
    max-height: 50%;
    width: 50%;
}
.row-header {
    display: flex;
    padding: 1px;
  }

.navbar-collapse{
    display: flex;
    justify-content: space-between;
}

.profile-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}