<nav class="navbar navbar-expand px-2">
    <div class="navbar-collapse">
        <div class="row-header">
            <img class="logo" src="/assets/images/logo.png" >
            <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
     <div class="profile-logo dropdown">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Admin
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#" class="dropdown-item">Profile</a></li>
            <li><a href="#" class="dropdown-item">Log Out</a></li>
        </ul>
    </div>  
</div>
  </nav>
